{% if menu %}
    {% for item in items %}
        {% if loop.index == 1 or loop.index == 4 %}
            <ul class="navbar-nav d-lg-flex flex-lg-row">
        {% endif %}
        
        <li class="nav-item {{ item.classes | join(' ') }} {% if item.children %} dropdown{% endif %}">
            <a id="menu-item-{{ item.post_name }}"
               class="nav-link {% if item.children %} dropdown-toggle{% endif %}"
                    {% if item.target %}
                        target="{{ item.target }}"
                    {% endif %}
                    {% if item.children %}
                        data-bs-toggle="dropdown"
                    {% endif %}
               href="{{ item.link }}">
                {{ item.title }}
            </a>
            {% if item.children %}
                <ul class="dropdown-menu">
                    {% for child in item.children %}
                        <li class="{{ child.classes | join(' ') }}">
                            <a class="dropdown-item"
                               href="{{ child.link }}"
                                    {{ item.is_target_blank ? 'target="_blank"' }}
                            >{{ child.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        
        {% if loop.index == 3 or loop.index == 6 %}
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}



