{% if posts.pagination.pages is not empty %}
    <nav class="wrap-pagination">
        <ul class="pagination list-unstyled">
            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev-link">
                    <a href="{{ posts.pagination.prev.link }}#top-archive" class="page-numbers prev">
                        &lt;
                    </a>
                </li>
            {% endif %}


            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="{{ loop.index == 1 ? 'no-dot' : '' }}">
                        <a href="{{ page.link }}#top-archive" class="page-numbers {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current {{ loop.index == 1 ? 'no-dot' : '' }}">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}


            {% if posts.pagination.next %}
                <li class="next-link">
                    <a href="{{ posts.pagination.next.link }}#top-archive" class="page-numbers next">
                        &gt;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
