{% block html_head_container %}

    {% include 'partial/html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }} header_{% if post.meta('tipo_header') %}{{ post.meta('tipo_header') }}{% else %}chiaro{% endif %}{% if post.meta('classi_custom') %} {{ post.meta('classi_custom') }}{% endif %}"
      data-template="base.twig">
<div id="main-wrapper">
    {% include 'layout/header.twig' %}

    <div id="content" role="main" class="content-wrapper">
        {#        {% block breadcrumb %} #}
        {#            {% include 'partial/breadcrumb.twig' %} #}
        {#        {% endblock breadcrumb %} #}
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
</div>

{% block footer %}
    <footer id="footer">
        {% include 'layout/footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}

{% if woocommerce_active %}
    <div id="minicart_box" class="d-none">
        <div class="widget_shopping_cart_content">{{ function('woocommerce_mini_cart') }}</div>
    </div>
{% endif %}

</body>
</html>
