<div class="footer-content">
    <div class="container">
        <div class="row justify-content-between">
            {% if sidebar_footer_1 %}
                <div class="col-md-auto col-{{ options.larghezza_navigazione_mobile }}-3">
                    {{ sidebar_footer_1 }}
                </div>
            {% endif %}
            {% if sidebar_footer_2 %}
                <div class="link-list-with-title col-md-auto col-{{ options.larghezza_navigazione_mobile }}-3">
                    {{ sidebar_footer_2 }}
                </div>
            {% endif %}
            {% if sidebar_footer_3 %}
                <div class="link-list col-md-auto col-{{ options.larghezza_navigazione_mobile }}-3">
                    {{ sidebar_footer_3 }}
                </div>
            {% endif %}
            {% if sidebar_footer_4 %}
                <div class="link-list col-md-auto col-{{ options.larghezza_navigazione_mobile }}-3">
                    {{ sidebar_footer_4 }}
                </div>
            {% endif %}
            {% if sidebar_footer_5 %}
                <div class="contact-info col-md-auto col-{{ options.larghezza_navigazione_mobile }}-3">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="icon flex-shrink-0">
                            {% include 'partial/phone-icon.twig' %}
                        </div>
                        {{ sidebar_footer_5 }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="copyright pt-3">
    <div class="container">
        <div class="row">
            {% if sidebar_footer_copyright_sx %}
                <div class="col-12 col-md-8">
                    {{ sidebar_footer_copyright_sx }}
                </div>
            {% endif %}

            <div class="d-none d-lg-block col-12 col-md-4 text-center text-md-end">
                {% if sidebar_footer_copyright_dx %}{{ sidebar_footer_copyright_dx }}{% endif %}
                {% if attiva_credits %}
                    <div class="credits d-flex justify-content-center align-items-center justify-content-md-end">
                        <a href="{{ link_credits }}" class="d-block text-center" target="_blank">
                            {% if testo_credits %}<span>{{ testo_credits }}</span>{% endif %}
                            {% set img_credits = get_image(immagine_credits) %}
                            <picture>
                                <source srcset="{{ img_credits.src|towebp }}" type="image/webp">
                                <source srcset="{{ img_credits.src }}">
                                <img id="logo_desktop" src="{{ img_credits.src|towebp }}" alt="{{ img_credits.alt }}"
                                     width="{{ img_credits.width }}" height="{{ img_credits.height }}" />
                            </picture>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if abilita_scrolltop %}
    <button type="button" class="scrollToTopBtn btn btn-danger" id="btn-back-to-top">
        <i class="icon-up"></i>
    </button>
{% endif %}
