{% extends "layout/base.twig" %}

{% block content %}
    {{ hero_block }}
    {{ breadcrumb_block }}

    <section class="services-archive">
        <div class="container">
            <div class="row g-md-3">
                <div class="col-md-4 col-lg-3 col-side">
                    <form method="post" id="services-form"
                          data-base-url="{{ site_url }}"
                          data-posts-per-page="{{ posts_per_page }}">
                        <div class="tanonomy-list">
                            <h4 class="title">Settori</h4>

                            <ul class="list-unstyled list">
                                {% for tax in taxonomies_sectors %}
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   name="taxonomies_sectors" value="{{ tax.term_id }}">
                                            <span>{{ tax.name }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="clear-filters hidden">Rimuovi filtri</button>
                        </div>

                        <div class="tanonomy-list">
                            <h4 class="title">Servizi</h4>

                            <ul class="list-unstyled list">
                                {% for tax in taxonomies_services %}
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   name="taxonomies_services" value="{{ tax.term_id }}">
                                            <span>{{ tax.name }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="clear-filters hidden">Rimuovi filtri</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 col-lg-9 position-relative">
                    {# Posts added with JS API #}
                    <div class="row g-3 box-list services-list" id="top-archive"></div>

                    <div class="loader"></div>

                    <template id="post-box-template">
                        <div class="col-md-4">
                            <a class="box-services" href="">
                                <img class="image" src="" alt="" />
                                <h2 class="title"></h2>
                            </a>
                        </div>
                    </template>

                    <div class="services-pagination d-flex justify-content-center gap-3">
                        <button class="prev cta back hidden">Precedente</button>
                        <button class="next cta hidden">Prossimo</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ news_block }}
    {% apply shortcodes %}
        {{ form_block }}
    {% endapply %}
{% endblock %}
