{% extends "layout/base.twig" %}

{% block content %}
    {# Top blocks #}
    {% for block in top_blocks %}
        {{ block }}
    {% endfor %}
    
    <section class="services-archive">
        <div class="container">
            <div class="row g-md-3">
                <div class="col-md-4 col-lg-3 col-side">
                    <form method="post" id="services-form"
                          data-base-url="{{ site_url }}"
                          data-posts-per-page="{{ posts_per_page }}">
                        <div class="taxonomy-list ">
                            <h4 class="title">
                                <button class="collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#sectors-inputs" aria-expanded="false"
                                        aria-controls="sectors-inputs">
                                    Settori
                                </button>
                            </h4>
                            
                            <ul class="list-unstyled list collapse" id="sectors-inputs">
                                {% for tax in taxonomies_sectors %}
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   name="taxonomies_sectors" value="{{ tax.term_id }}">
                                            <span>{{ tax.name }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="clear-filters hidden">Rimuovi filtri</button>
                        </div>
                        
                        <div class="taxonomy-list">
                            <h4 class="title">
                                <button class="collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#services-inputs" aria-expanded="false"
                                        aria-controls="services-inputs">
                                    Servizi
                                </button>
                            </h4>
                            
                            <ul class="list-unstyled list collapse" id="services-inputs">
                                {% for tax in taxonomies_services %}
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   name="taxonomies_services" value="{{ tax.term_id }}">
                                            <span>{{ tax.name }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="clear-filters hidden">Rimuovi filtri</button>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-8 col-lg-9 position-relative">
                    {# Posts added with JS API #}
                    <div class="row g-md-3 box-list services-list" id="top-archive"></div>
                    
                    <div class="loader"></div>
                    
                    <template id="post-box-template">
                        <div class="col-sm-6 col-lg-4">
                            <a class="box-services" href="">
                                <img class="image" src="" alt=""/>
                                <h2 class="title"></h2>
                            </a>
                        </div>
                    </template>
                    
                    <div class="services-pagination d-flex justify-content-center gap-3">
                        <button class="prev cta back hidden">Precedente</button>
                        <button class="next cta hidden">Prossimo</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {# Bottom blocks #}
    {% apply shortcodes %}
        {% for block in bottom_blocks %}
            {{ block }}
        {% endfor %}
    {% endapply %}
{% endblock %}
