<div class="elemento_gallery cpt_{{fields.cpt}} col-12 col-lg-4 mb-3">
	<div class="wrapper">
		<div class="wrapper_img">
			{% if elemento.thumbnail %}
				<img src="{{ elemento.thumbnail.src|resize(450, 150, 'center') }}" alt="{{ elemento.thumbnail.alt }}" width="450" />
			{% else %}
				<img src="{{img_dir}}/450x150.png" alt="" width="450" />
			{% endif %}		
		</div>
		<a class="read_more" href="{{elemento.link}}">{{__('Show me details', theme_slug)}} <span class="material-symbols-outlined">arrow_right</span></a>   
	</div>
</div>
