<div class="elemento_gallery cpt_{{fields.cpt}} col-12 col-md-6 col-lg-4 mb-3">
	<div class="wrapper">
		<div class="wrapper_img">
			{% if elemento.thumbnail %}
				<img src="{{ elemento.thumbnail.src|resize(450, 270, 'center') }}" alt="{{ elemento.thumbnail.alt }}" width="450" />
			{% endif %}		
		</div>
		<div class="wrapper_testi p-3">
			<span class="titolo h5 mb-2 d-block text-uppercase">{{elemento.post_title}}</span>
			<p class="mb-0">{{ elemento.riassunto|truncate(20) }}</p>	
		</div>
		<a class="read_more" href="{{elemento.link}}">{{__('Read now', theme_slug)}} <span class="material-symbols-outlined">arrow_right</span></a>   
	</div>
</div>
